.landscape-mode {
  transform: rotate(90deg);
  transform-origin: left top;
  width: 100vh;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
